
h1 {
  text-align: center;
  background: black;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 62px;
  padding: 30px
    }
h2 {
  text-align: center;
  background: black;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
        }

body {
    text-align: center;
    background: black;
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 20px;
 }

ul.nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  padding-right: 10px;
  overflow: hidden;
  background-color: #333;
  float: right;
   }

ul.nav li a:hover {
    background-color: #111;
   }

ul.nav a {
    display: block;
    width: 120px;
    color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   }

div.image img {
    width: 30vw;
    border-radius: 50%;
    height: 30vw;
    margin-bottom: 30px
    }

div.thumbnail img {
  width: 20vw;
  border-radius: 50%;
  height: 20vw;
  }

div.bio {
  max-width: 820px;
    margin: auto;
    border: 3px solid white;
    padding: 25px;
  }

  div.instructions {
    text-align: left;
    background: black;
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    max-width: 700px;
  }


div.form {
    background-color: black;
    color: white;
    font-size: 22px;

  }


div.form p {
    color: white;
    font-size: 22px;
    padding top: 30px
  }

div.form p.inline {
    width: auto;
    display: inline;
  }

div.form2 {background-color: black;
color: white;
font-size: 22px;
}

div.form2 p {
  color: white;
  font-size: 22px;
  -webkit-padding-before: 15px;
}


div.form .text-box {
  width: 400px;
  -webkit-margin-after: 15px;
  background-color: white;
  color: black;
}


a.link {
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    }

    div.buttons {
      display: inline-block;
      text-align: center;
      border: 2px solid;
      border-color: white;
    }

    a:hover, a:active {
        background-color: black;
        color: white;
    }



input[type="submit"] {
     color: white;
     background: red;
     padding: 10px;
     margin-top: 20px;
     margin-bottom: 30px;
   }



input[type=checkbox] {background-color: black;
color: white;
margin-right: 10px;

}

footer {
  text-align: center;
  background: white;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
  .popup {
    position: relative;
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
